.icon-48-requests {
      background-image: url(../images/l_requests.png);
      padding-left:60px!important;
}

.icon-48-request {
      background-image: url(../images/l_requests.png);
      padding-left:60px!important;
}

